.wrapper {
  margin: 0 auto;

  width: 60rem;
  height: 40rem;
}

.loginBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: azure;
}

.loginImage {
  width: 29rem;
  height: auto;
  background-color: aqua;
}

.loginInput {
  width: 29rem;
  height: auto;
  background-color: gold;
}

.loginImage {
  overflow: hidden;
}
.loginImage img {
  width: 500px;
}
